################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/prototype_1/.vs/prototype_1/v15/ipch/AutoPCH/PROTOTYPE_1-962b2504/MAINFORM-fd13838e/MAINFORM.ipch
