################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/prototype_1/.vs
/prototype_1/Debug
/prototype_1/prototype_1/x64/Debug
/prototype_1/prototype_1/Debug
/prototype_1/prototype_1/proto_1.log
/prototype_1/prototype_1/x64/Release/prototype_1.tlog
/prototype_1/x64/Debug
/prototype_1/x64/Release
